footer{
    
        .tamañoInicio{
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            align-items: center;
            font-size: 1.6rem;
            }        
    
}