.mainHistoria{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    padding: 20px;
    .subrayado {
        text-decoration: underline;
    }
    .espacio{
        padding: 20px;
    }
    ul{
        list-style: none;
    }
}