@media (max-width:815px) {
header{
    h1 {
        word-spacing: 0.8rem;
        font-size: 8rem;
    }
    .lineaInicio{
        .abcd {
            word-spacing: 0.2rem;
            font-size: 2.4rem;
        }
    
    }
}    
main{
    section{
        
            .contenedor{
                a{ 
                .img {
                    width: 24rem;
                    height: 70rem;
                }
                .centrado {
                    font-size: 2.4rem;
                }
                }
            }
        
    }
} 
footer{
    .heroF{
        .listaUlt {
            font-size: 2.4rem;
        }
    }
        .iconos{
            .tamañoIcono {
                padding-bottom: 2rem;
                align-items: center;
                justify-content: space-evenly;
                width: 85%;
                height: 85%;
                
            }
        }
}
}
